<h1><%= @task.name %></h1>
<p><%= @task.description %></p>
<% if @task.done == true %>
  <p class="task done">Done</p>
<% else %>
  <p class="task done">Not done yet</p>
<% end %>
<%= link_to "Edit this task", edit_task_path(@task) %>
<%= link_to "Delete this post", task_path(@task),
      method: :delete,
      data: { confirm: "Are you sure?" } %>
<%= link_to "Go back to your tasks", tasks_path %>
